.advant {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 69px 0 81px 0;
    &__header {
        font-size: 30px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
        line-height: 30px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 230px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: #0d0d0d;
        line-height: 18px;
        span {
            display: block;
            font-size: 18px;
            font-weight: 700;
            margin: 38px 0 26px 0;

        }
        a {
            text-decoration: underline;
            color: #ff0000;
        }
    }
    &__icon {
        display: block;
        margin: 0 auto;
        margin-top: 65px;
    }
}