@media (max-width: 991px) {
    .button {
        width: 120px;
        height: 28px;
        font-size: 11px;
        &_main {
            margin-top: 48px;
            width: 220px;
            height: 35px;
            font-size: 14px;
        }
        &_submit {
            width: 100%;
            height: 55px;
            font-size: 16px;
        }
    }
    .title {
        font-size: 34px;
    }
    .header {
        justify-content: space-around;
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
    .promo {
        min-height: 520px;
        padding-bottom: 58px;
        &__wrapper {
            margin-top: 58px;
            margin-right: 10px;
        }
        &__header {
            font-size: 38px;
            margin: 0;
        }
        &__subheader {
            font-size: 21px;
            margin: 14px 0 0 0;
        }
        &__icons {
            margin-top: 46px;
            width: 415px;
        }
        &__icon {
            width: 90px;
            font-size: 12px;
            img {
                margin-bottom: 10px;
            }
        }
        &__link {
            margin-top: 12px;
            font-size: 14px;
        }
    }
    .title {
        font-size: 26px;
        line-height: 32px;
        margin: 0;
    }
    .advant {
        padding: 58px 0 67px 0;
        min-height: 408px;
        &__wrapper {
            justify-content: space-around;
        }
        &__item {
            font-size: 12px;
            span {
                font-size: 16px;
                margin: 20px 0 12px 0;
            }
        }
        &__icon {
            margin-top: 47px;
        }
    }
    .consultation {
        padding-left: 20px;
    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
    }
    .reviews {
        hr {
            width: 90%;
        }
    }
    .review {
        align-content: center;
        &__photo {
            margin-right: 0;
        }
        &__wrapper {
            width: 70%;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            margin-right: 0;
        }
    }
    .advant {
        &__item {
            width: 30%;
        }
    }
    .title {
        &_left {
            text-align: center;
            line-height: 40px;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .button {
        &_mini {
            width: 100px;
            height: 25px;
        }
    }
    .catalog {
        padding-bottom: 39px;
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            width: 160px;
            height: 45px;
            font-size: 14px;
            line-height: 45px;
        }
        &__content {
            margin-top: 46px;
        }
        &-item {
            width: 220px;
            padding: 10px;
            min-height: 390px;
            &__img {
                height: 170px;
            }
            &__subtitle {
                margin-top: 12px;
                font-size: 14px;
            }
            &__descr {
                margin-top: 12px;
                font-size: 12px;
            }
            &__link {
                font-size: 12px;
            }
            &__list {
                li {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
            &__back {
                font-size: 12px;
            }
            hr {
                margin-top: 15px;
                margin-bottom: 17px;
            }
            &__old-price {
                font-size: 12px;
            }
            &__new-price {
                font-size: 16px;
            }
        }
    }
    .reviews {
        padding-bottom: 52px;
        &__content {
            margin-top: 40px;
            hr {
                margin-top: 30px;
                margin-bottom: 32px;
            }
        }
    }
    .review {
        &__photo {
            height: 130px;
        }
        &__name {
            font-size: 16px;
        }
        &__achieve {
            font-size: 12px;
            margin-top: 5px;
        }
        &__text {
            margin-top: 15px;
            font-size: 14px;
            line-height: 17px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 150px;
        }
        &__phone {
            font-size: 11px;
        }
        &__contacts {
            .button {
                display: none;
            }
        }
    }
    .promo {
        min-height: 500px;
        padding-bottom: 56px;
        &__wrapper {
            margin: 0 10px 0 10px;
            margin-top: 34px;
        }
        &__header {
            font-size: 26px;
            text-align: center;
            line-height: 30px;
        }
        &__subheader {
            font-size: 16px;
            text-align: center;
        }
        &__icons {
            width: 100%;
            margin-top: 36px;
        }
        &__icon {
            font-size: 11px;
        }
    }
    .advant {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            width: 300px;
        }
    }
    .title {
        font-size: 21px;
        &_left {
            font-size: 24px;
            line-height: 30px;
        }
    }
    .consultation {
        min-height: 655px;
        padding: 60px 10px 72px 10px;
        &__descr {
            margin-top: 50px;
            font-size: 16px;
        }
    }
    .feed-form {
        width: 270px;
        margin-top: 25px;
        input {
            height: 40px;
        }
    }
    .button {
        &_submit {
            height: 45px;
            font-size: 14px;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 19px;
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 5px;
        }
    }
    .review {
        flex-direction: column;
        &__wrapper {
            width: 95%;
            margin: 0 auto;
            text-align: center;
        }
        &__photo {
            display: inherit;
            width: 100px;
            height: auto;
            margin: 0 auto;
        }
        &__achieve {
            margin: 0;
        }
    }
}